*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: silver;
}

#cadre{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 466px;

	background-color: white;

	border: 8px double red;

	transform: translate(-50%, -50%);
}

.textureCaseChoix{
	height: 150px;
	width: 150px;
	
	border: 2px solid black;
}

#restart{
	height: 50px;
	width: 150px;
}